/* ===========================
   VARIÁVEIS
=========================== */
:root {
  --bg-main: #020617;
  --bg-secondary: #000000;
  --title-color: #ffffff;
  --text-color: #e5e7eb;
  --blue: #1e90ff;
}

body.light {
  --bg-main: #f8fafc;
  --bg-secondary: #e5e7eb;
  --title-color: #020617;
  --text-color: #020617;
}

/* ===========================
   BASE
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background:
    radial-gradient(at top left, rgba(30, 144, 255, 0.18), transparent 60%),
    radial-gradient(at bottom right, rgba(0, 70, 140, 0.25), transparent 55%),
    linear-gradient(180deg, var(--bg-main), var(--bg-secondary));
  color: var(--text-color);
  line-height: 1.6;
  transition: background 0.4s ease, color 0.4s ease;
}

/* ===========================
   THEME TOGGLE
=========================== */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: var(--blue);
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

/* ===========================
   HORUS SETTINGS
=========================== */
.about-horus {
  flex: 1;
  padding: 30px;
  min-height: 120px; 
  max-height: 120px; 
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
}

.about-horus:hover {
  max-height: 500px; /* Altura máxima para revelar o texto */
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(59, 130, 246, 0.5);
}

.horus-container {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  pointer-events: none;
}

/* Estado ao passar o mouse: Visível */
.about-horus:hover .horus-container {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ===========================
   HORUS LOGO
=========================== */
.logo-horus {
  width: 400px;
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.2));
  height: 350px;
  margin-bottom: 10px;
}

/* ===========================
   LINK GITHUB HORUS
=========================== */
.more-horus {
  margin-top: 0px;
  margin-left: 580px;
  max-width: 100px;
  max-height: 70px;
}
